# data 
data/raw
data/parsed
data/features

# results 
out/res
out/signal_df
out/model*
out/log/
out/return/
out/risk_fig/
out/cov
out/graph_fig
out/temp
out/train_test_dates

# test_space 
test_space*

# confidential files (contains trading strategies)
src/factor_list.txt

# data ingestion 
src/data_ingestion/parse_raw.py 
src/data_ingestion/test_PqiDataSdk_Offline.py
src/data_ingestion/to_be_removed/*

# factor generation
src/factor_generation/available_factors/*
src/factor_generation/factor_stats/*
src/factor_generation/factor_validation/*
src/factor_generation/process_raw/*
src/factor_generation/log/failed_factors.txt
src/factor_generation/raw_factor/factor_gen.py 
src/factor_generation/raw_factor/factor_list.py
src/factor_generation/raw_factor/pairs_modified.py
src/factor_generation/raw_factor/support_factor_gen.py

# backtest
src/backtest/bin/preview.py
src/backtest/configuration/factor_signal_test_list.py
src/backtest/configuration/stock_list*
src/backtest/res/*
src/backtest/tools/preview_graph.py
src/backtest/index_industry_breakdown.py
src/backtest/y_neutralizer.py

# factor combination 
src/factor_combination/configuration/factor_list.py
src/factor_combination/configuration/*.txt
src/factor_combination/res/
src/factor_combination/bins/ParaSearch.py

# portfolio optimization
src/portfolio_optimization/PlotRisk.py
src/portfolio_optimization/FactorSignificanceTest.py

# graph_cluster
src/graph_cluster/sub2vec
src/graph_cluster/subgnn


# python files 
__pycache__/
.ipynb_checkpoints/
.gitignore

# docker 
Dockerfile
report.*
report/
submission.json

# tasks 
*.sh

# env 
environment*.yml