<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
    <script type="text/x-mathjax-config">
             MathJax.Hub.Config({
               tex2jax: {
                 inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                 processEscapes: true
               }
             });
           </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        type="text/javascript"></script>
</head>

<body>
    {{ content }}
</body>

</html>